@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@media only screen and (min-width: 941px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7289da;
        border-radius: 5px;
    }
    body {
        background-color: coral;
        background: url(../images/background.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.658);
        margin: 0;
        padding: 0;
    }
    #background {
        background-color: rgba(0, 0, 0, 0.76);
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: auto;
        height: 100%;
    }
    #center {
        width: 60%;
        margin: 0 auto;
        margin-top: 0.5%;
    }
    .clear {clear: both;}
    .heading {
        background-color: #0d1013;
        border-radius: 10px;
    }
    .logo {
        display: flex;
        width: 30vw;
        font-size: 0.8vw;
        text-align: center;
        align-items: center;
        user-select: none;
        padding: 1%;
        float: left;
    }
    .logo img {
        width: 100px;
        border-radius: 100%;
        margin: 2%;
    }
    .logo h1 {
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        text-shadow: 0 0 1.2em #7289da;
        margin-left: 2%;
    }
    .media {
        float: right;
        border: none;
        margin: 2%;
        user-select: none;
    }
    .media img {
        display: inline;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s;
    }
    .media img:hover {
        opacity: 0.6;
    }

    .navigation {
        width: 100%;
        display: inline-block;
    }
    .navigation-mobile { 
        visibility: hidden;
        display: none;
     }
    .navigation a {
        display: inline-block;
        border: none;
        color: white;
        text-decoration: none;
        user-select: none;
        margin: 10px;
        padding: 15px 30px;
        font-family: 'Tilt Warp', cursive;
        background-color: #424549;
        border-radius: 10px;
        transition: 0.4s;
        cursor: pointer;
    }
    .navigation a:hover {
        background-color: #7289da;
        box-shadow: 0 0 0.7em #7289da;
        color: black;
    }
    hr {
        width: 95%;
        margin: 1.5% auto;
        display: block;
        border: 2px solid goldenrod;
        border-radius: 10px;
    }
    .footer {
        background-color: #0d1013;
        border-radius: 10px;
        width: 100%;
    }
    .footer h3 {
        color: greenyellow;
        text-shadow: 0 0 0.4em greenyellow;
        font-family: 'Tilt Warp', cursive;
        text-align: center;
        padding: 1%;
        user-select: none;
    }
    .logo_footer {
        display: flex;
        text-align: center;
        align-items: center;
        user-select: none;
        padding: 1%;
        margin: 0 auto;
    }
    .logo_footer img {
        width: 50px;
        border-radius: 100%;
        float: left;
        margin: 1%;
    }
    .logo_footer h1 {
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        float: left;
        font-size: 15px;
    }
    .menu_footer {
        float:left;
        padding: 1%;
        max-width: 250px;
        margin: 2%;
    }
    .menu_footer h1 {
        color: white;
        font-family: 'Righteous', cursive;
        user-select: none;
    }
    .menu_footer a {
        display: block;
        text-decoration: none;
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        padding: 4%;
        transition: 0.4s;
    }
    .menu_footer a:hover {
        color: rgb(255, 55, 55);
    }
    .menu_footer p {
        color: white;
        font-family: 'Tilt Warp', cursive;
    }

    .content {
        background-color: #0d1013;
        width: 100%;
        border-radius: 10px;
    }
}


/* MOBILE */
@media only screen and (max-width: 940px) {
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7289da;
        border-radius: 5px;
    }
    body { background-color: black;}
    #center {
        width: 100%;
        margin: 0 auto;
    }
    .clear {clear: both;}
    .heading {
        background-color: #0d1013;
        border-radius: 10px;
    }
    .logo {
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        user-select: none;
        padding: 1%;
    }
    .logo img {
        width: 60px;
        border-radius: 100%;
        margin: 2%;
    }
    .logo h1 {
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        text-shadow: 0 0 1.2em #7289da;
        margin-left: 2%;
        font-size: 100%;
    }
    .media {
        visibility: hidden;
        display: none;
    }

    .navigation {
        visibility: hidden;
    }
    .navigation-mobile {
        background-color: #0d1013;
        width: 100%;
        margin: 10px 0;
        display: block !important;
        border-radius: 10px;
    }
    .navigation-mobile button {
        background-color: transparent;
        border: none;
        color: white;
        width: 100%;
    }
    .navigation-mobile {
        list-style: none; 
        float: left; 
        width: 100%;
    }
    .navigation-mobile li {
        float: left; 
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation-mobile a {
        display: block;
        text-decoration: none; 
        font-family: 'Tilt Warp', cursive;
        color: #eee;
        padding: 1%;
    }
    .navigation-mobile-button {
        display: block;
    }
    hr {
        width: 95%;
        margin: 1.5% auto;
        display: block;
        border: 2px solid goldenrod;
        border-radius: 10px;
    }
    .footer {
        background-color: #0d1013;
        border-radius: 10px;
        width: 100%;
    }
    .footer h3 {
        color: greenyellow;
        text-shadow: 0 0 0.4em greenyellow;
        font-family: 'Tilt Warp', cursive;
        text-align: center;
        padding: 1%;
        user-select: none;
    }
    .logo_footer {
        display: flex;
        text-align: center;
        align-items: center;
        user-select: none;
        padding: 1%;
        margin: 0 auto;
    }
    .logo_footer img {
        width: 50px;
        border-radius: 100%;
        float: left;
        margin: 1%;
    }
    .logo_footer h1 {
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        float: left;
        font-size: 15px;
    }
    .menu_footer {
        padding: 1%;
        max-width: 100%;
        margin: 2%;
    }
    .menu_footer h1 {
        color: white;
        font-family: 'Righteous', cursive;
        user-select: none;
    }
    .menu_footer a {
        display: block;
        text-decoration: none;
        color: #7289da;
        font-family: 'Tilt Warp', cursive;
        padding: 1%;
        transition: 0.4s;
    }
    .menu_footer a:hover {
        color: rgb(255, 55, 55);
    }
    .menu_footer p {
        color: white;
        font-family: 'Tilt Warp', cursive;
    }

    .content {
        background-color: #0d1013;
        width: 100%;
        border-radius: 10px;
    }
}