/* Home page content */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.content div {
    padding: 1%;
}
.content div h1 {
    text-align: center;
    text-shadow: 0 0 0.6em #7289da;
    color: #7289da;
    font-family: 'Righteous', cursive;
    margin: 0;
}
.content div p {
    text-align: center;
    color: rgb(78, 126, 216);
    font-family: 'Kanit';
    font-size: 19px;
}
.content div iframe {
    width: 100%;
    align-items: center;
}

.plugins {
    width: 100%;
    background-color: #0d1013;
    border-radius: 10px;
    margin-top: 10px;
}
.plugin {
    width: 95%;
    transition: 0.4s;
    border-radius: 10px;
    margin: 0 auto;
    user-select: none;
    padding: 1%;
    margin: 1%;
}
.plugin:hover {
    background-color: #7289da;
}
.plugin img {
    width: 100px;
    float: left;
    margin: 1%;
}
.plugin h1 {
    color: white;
    font-family: 'Righteous', cursive;
    margin: 0;
}
.plugin span {
    color: rgb(223, 10, 10);
    margin: 0;
}
.plugin p {
    color: rgb(212, 212, 212);
    font-family: 'Tilt Warp', cursive;
}
.plugin a {
    display: block;
    background-color: rgb(174, 0, 255);
    font-family: 'Tilt Warp', cursive;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    transition: 0.4s;
    border-radius: 10px;
    margin: 0 15px;
}
.plugin a:hover {
    background-color: red;
}
.disabled a {
    background-color: gray;
    cursor: no-drop;
}
.disabled a:hover {
    background-color: black;
}