/* Home page content */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@media only screen and (min-width: 941px) {
    .content div {
        padding: 1%;
    }
    .content div h1 {
        text-align: center;
        text-shadow: 0 0 0.6em #7289da;
        color: #7289da;
        font-family: 'Righteous', cursive;
        margin: 0;
    }
    .content div p {
        text-align: center;
        color: rgb(78, 126, 216);
        font-family: 'Kanit';
        font-size: 19px;
    }
    .videos {
        width: 100%;
        background-color: #0d1013;
        border-radius: 10px;
        margin-top: 10px;
    }
    .video {
        width: 47%;
        display: inline-block;
        margin: 1%;
        border-radius: 10px;
        user-select: none;
        cursor: auto;
        transition: 0.4s;
    }
    .video:hover {
        background-color: #4666db;
    }
    .video video {
        width: 99%;
        margin-top: 1%;
        border-radius: 10px;
        opacity: 0.9;
        transition: 0.4s;
        max-height: 300px;
    }
    .video video:hover { 
        opacity: 100;
    }
    .video h1 {
        margin: 0;
        padding: 1%;
        font-family: 'Righteous', cursive;
        color: white;
        font-size: 20px;
    }
    .video h1 span {
        color: lime;
        text-shadow: 0 0 0.4em lime;
    }
    .video a {
        display: block;
        margin: 1%;
        background-color: rgb(0, 225, 255);
        border-radius: 10px;
        border: 2px solid white;
        text-decoration: none;
        width: 90%;
        color: black;
        text-shadow: 0 0 0.4em black;
        padding: 2px;
        transition: 0.4s;
        cursor: pointer;
    }
    .video a:hover {
        background-color: red;
        color: #fff;
        text-shadow: 0 0 0.8em white;
        border: 2px solid black;

    }

    .mobile {
        display: none;
        visibility: hidden;
    }
}

/* MOBILE */
@media only screen and (max-width: 940px) {
    .mobile div {
        padding: 1%;
    }
    .mobile div h1 {
        text-align: center;
        text-shadow: 0 0 0.6em #7289da;
        color: #7289da;
        font-family: 'Righteous', cursive;
        margin: 0;
    }
    .mobile div p {
        text-align: center;
        color: rgb(78, 126, 216);
        font-family: 'Kanit';
        font-size: 19px;
    }
    .mobile div iframe {
        width: 100%;
        align-items: center;
    }
    .content {
        display: none;
        visibility: hidden;
    }
    .videos {
        display: none;
        visibility: hidden;
    }


}