/* Home page content */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@media only screen and (min-width: 941px) {
    .content div {
        padding: 1%;
    }
    .content div h1 {
        text-align: center;
        text-shadow: 0 0 0.6em #7289da;
        color: #7289da;
        font-family: 'Righteous', cursive;
        margin: 0;
    }
    .content div p {
        text-align: center;
        color: rgb(78, 126, 216);
        font-family: 'Kanit';
        font-size: 19px;
    }
    .videos {
        width: 100%;
        background-color: #0d1013;
        border-radius: 10px;
        margin-top: 10px;
    }
    #videos {
        position: static;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2%;
    }
    .video iframe {
        position: static;
        float: left;
        width: 100%;
        height: 27vh;
        border-radius: 10px;
    }
    .video h3 {
        position: static;
        float: left;
        color: rgb(221, 47, 47);
        text-shadow: 0 0 0.4em rgb(221, 47, 47);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .video a {
        display: flex;
        width: 100%;
        background-color: rgb(221, 47, 47);
        padding: 1vh 0;
        border-radius: 10px;
        justify-content: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: black;
        margin: 1vh 0;
        transition: 0.4s;
        cursor: pointer;
    }
    .video a:hover {
        background-color: antiquewhite;
        box-shadow: 0 0 0.7em antiquewhite;
    }
    .video {
        user-select: none;
        position: static;
        display: block;
        width: 48%;
        height: 150%;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .mobile {
        display: none;
        visibility: hidden;
    }
}
.clear {
    clear: both;
}
@media screen and (max-width: 1200px) {
    #videos {
      flex-direction: column;
    }
    .video {
      width: 100%;
    }
  }


/* MOBILE */
@media only screen and (max-width: 940px) {
    .mobile div {
        padding: 1%;
    }
    .mobile div h1 {
        text-align: center;
        text-shadow: 0 0 0.6em #7289da;
        color: #7289da;
        font-family: 'Righteous', cursive;
        margin: 0;
    }
    .mobile div p {
        text-align: center;
        color: rgb(78, 126, 216);
        font-family: 'Kanit';
        font-size: 19px;
    }
    .mobile div iframe {
        width: 100%;
        align-items: center;
    }
    .content {
        display: none;
        visibility: hidden;
    }
    .videos {
        display: none;
        visibility: hidden;
    }


}